<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/journals']">My Journals</a></li>
  <li class="breadcrumb-item active">Journal 1</li>
</ol>
<div class="row">
  <div class="col">
    <p>
      <a [routerLink]="['/journal', this.id, 'entry', 'new']" class="btn btn-info btn-lg">
        <span class="icon icon-plus-sign"></span> New Entry
      </a>
    </p>
  </div>
  <div class="col">
    <div> <!--form>-->
      Show Hidden
      <input type="checkbox">
      Show Deleted
      <input type="checkbox">
    </div> <!--</form>-->
  </div>
<div class="row">
  <div class="col">
    <div> <!--form>-->
      Search Journal
      <input type="Search">
      Between Date:
      <input type="date" name="bday">
      and
      <input type="date" name="bday">
      <input type="Submit" value="Search">
    </div> <!--</form>-->
  </div>
</div>
<div *ngFor="let entry of journal.journalEntry; let i = index" class="card" style="width: 100%;">
  <div class="card-body">
    <table style='width: 100%'>
      <tr>
        <td><h4 class="card-title">{{entry.title}}</h4></td>
        <td><h6 class="card-subtitle mb-2 text-muted">{{entry.lastUpdated}}</h6></td>
        <td style='float: right'>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" [routerLink]="['/journal/1/entry/1/revise']">Revise</a>
              <button class="dropdown-item" type="button">Hide</button>
              <button class="dropdown-item" type="button">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <p class="card-text">{{entry.content}}</p>
    <a [routerLink]="['/journal', this.id, 'entry', i, 'history']" class="card-link">View history</a>
  </div>
</div>
