<div class="breadcrumb flat">
  <a [routerLink]="['/journals']">My Journals</a>
  <a href='#' class="active" >{{journal.journalName}}</a>
</div>
<div class="row">
  <div class="col">
    <p>
      <a [routerLink]="['/journal', this.id, 'entry', 'new']" class="btn btn-info btn-lg">
        <span class="icon icon-plus-sign"></span> New Entry
      </a>
    </p>
  </div>
  <div class="box">
    <div> <!--form>-->
      Show Hidden
      <input type="checkbox" (change)="checkBox($event)">
    </div>
  </div>
<div class="search">
  <div class="col">
    <div>
      Search Journal
      <input type="text" class="form-control" (input)="searchJournal($event.target)">
      Between Date:
      <input type="date" name="bday">
      and
      <input type="date" name="bday">
      <input type="Submit" value="Search">
    </div>
  </div>
</div>
<div *ngFor="let entry of visibleEntries; let i = index" class="card" style="width: 100%;">
  <div class="card-body">
    <table style='width: 100%'>
      <tr>
        <td><h4 class="card-title">{{entry.title}}</h4></td>
        <td><h6 class="card-subtitle mb-2 text-muted">{{entry.lastUpdated | date}}</h6></td>
        <td style='float: right'>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" [routerLink]="['/journal', this.id, 'entry', i, 'revise']">Revise</a>
              <button class="dropdown-item" type="button" (click)="hideEntry(entry, i)">Hide</button>
              <button class="dropdown-item" type="button" (click)="deleteEntry(entry, i)">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <p class="card-text">{{entry.content}}</p>
    <a [routerLink]="['/journal', this.id, 'entry', i, 'history']" class="card-link">View history</a>
  </div>
</div>
