<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/journals']">My Journals</a></li>
  <li class="breadcrumb-item active">Journal 1</li>
</ol>
<div class="row">
  <div class="col">
    <p>
      <a [routerLink]="['/journal/1/entry/new']" class="btn btn-info btn-lg">
        <span class="icon icon-plus-sign"></span> New Entry
      </a>
    </p>
  </div>
  <div class="col">
    <form>
      Show Hidden
      <input type="checkbox">
      Show Deleted
      <input type="checkbox">
    </form>
  </div>
<div class="row">
  <div class="col">
    <form>
      Search Journal
      <input type="Search">
      Between Date:
      <input type="date" name="bday">
      and
      <input type="date" name="bday">
      <input type="Submit" value="Search">
    </form>
  </div>
</div>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <table style='width: 100%'>
      <tr>
        <td><h4 class="card-title">Entry 1</h4></td>
        <td><h6 class="card-subtitle mb-2 text-muted">18/8/2017</h6></td>
        <td style='float: right'>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" [routerLink]="['/journal/1/entry/1/revise']">Revise</a>
              <button class="dropdown-item" type="button">Hide</button>
              <button class="dropdown-item" type="button">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <p class="card-text">Created mock ups of the front end using dummy data. Created some basic functionality from the menu and other links.</p>
    <a [routerLink]="['/journal/1/entry/1/history']" class="card-link">View history</a>
  </div>
</div>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

