<ol class="breadcrumb">
  <li class="breadcrumb-item active">My Journals</li>
</ol>
<p>
  <a [routerLink]="['/journals/new']" class="btn btn-info btn-lg">
    <span class="icon icon-plus-sign"></span> New Journal
  </a>
</p>
<div class="row">
  <div class="col">
    <form>
      Search all Journals
      <input type="Search">
      Between Date:
      <input type="date" name="bday">
      and
      <input type="date" name="bday">
      <input type="Submit" value="Search">
    </form>
  </div>
</div> 
<div class="card" style="width: 100%;">
  <div class="card-body">
    <table style='width: 100%'>
      <tr>
        <td><h4 class="card-title">Journal 1</h4></td>
        <td><h6 class="card-subtitle mb-2 text-muted">18/8/2017</h6></td>
        <td style='float: right'>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <button class="dropdown-item" type="button">Something</button>
              <button class="dropdown-item" type="button">Something Else</button>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <p class="card-text">Create a Professional Journal system for SDP Ltd.</p>
    <a [routerLink]="['/journal/1']" class="card-link">Entries</a>
  </div>
</div>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>