<div class="breadcrumb flat">
  <span class="active" >My Journals</span>
</div>
<div class="row" style="display: inline-block">
  <div class="col">
    <p>
      <a [routerLink]="['/journals/new']" class="btn btn-info btn-lg">
        <span class="icon icon-plus-sign"></span> New Journal
      </a>
    </p>
  </div>
  <div class="col" style="float: right">
    <div class="col1">
      <a [routerLink]="['/journals/search-all']" class="btn btn-info btn-lg">
        <span class="icon icon-plus-sign"></span> Search All Journals
      </a>
    </div>
  </div>
</div>
<div *ngFor="let journal of journals" class="card" style="width: 100%;">
  <div class="card-body">
    <table style='width: 100%'>
      <tr>
        <td><h4 class="card-title">{{journal.journalName}}</h4></td>
        <td><h6 class="card-subtitle mb-2 text-muted">{{journal.date | date}}</h6></td>
      </tr>
    </table>
    <p class="card-text">{{journal.journalSummary}}</p>
    <a [routerLink]="['/journal', journal._id]" class="card-link">Entries</a>
  </div>
</div>