<div class="container">
  <div class="register-html">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputFirstName3" class="col-sm-2 col-form-label"> First Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputFirstName3" formControlName="firstName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputLastName3" class="col-sm-2 col-form-label"> Last Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputLastName3" formControlName="lastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputUserName3" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputUserName3" formControlName="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputUserName3" formControlName="email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" formControlName="password" placeholder="Password">
      </div>
    </div>
      <div class="form-group1">
          <input type="submit" [disabled]="!registerForm.valid" value="Register"/>   
      </div>
  </form>
</div>
</div>