<div class="container">
  <div> <!--<form>-->
    <div class="form-group row">
      <label for="inputFirstName3" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputFirstName3" placeholder="First Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLastName3" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputLastName3" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputUserName3" class="col-sm-2 col-form-label">UserName</label>
      <div class="col-sm-10">
        <input class="form-control" id="inputUserName3" placeholder="UserName">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
      <div class="form-group">
        <div> <!--<form>-->
          <input type="submit" value="Register"/>
        </div> <!--</form>-->    
      </div>
  </div> <!--</form>-->
</div>