<form [formGroup]="createHistoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleFormControlInput1">{{entry.title}}</label>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Entry Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="historyContent">{{entry.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Reason for Change</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="reasonSummary"></textarea>
  </div>
  <div class="form-group">
    <div>
      <input type="submit" value="Complete Revision"/>
    </div>
  </div>
</form>