<div class="breadcrumb flat">
  <a [routerLink]="['/journals']">My Journals</a>
  <a [routerLink]="['/journal', this.jid]">{{journal.journalName}}</a>
  <span class="active" >{{entry.title}} Revise</span>
</div>
<form [formGroup]="createHistoryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleFormControlInput1">{{entry.title}}</label>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Entry Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="historyContent">{{entry.content}}</textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Reason for Change</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="reasonSummary"></textarea>
  </div>
  <div class="form-group1">
    <div>
      <input type="submit" value="Complete Revision"/>
    </div>
  </div>
</form>