<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Entry Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Entry Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">This is dummy text added for the purposes of testing Lorem Ipsum whatever.</textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Reason for Change</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <form action="/journals">
      <input type="submit" value="Complete Revision"/>
    </form>    
  </div>
</form>