<div class="breadcrumb flat">
  <a [routerLink]="['/journals']">My Journals</a>
  <a [routerLink]="['/journal/1/']">Journal 1</a>
  <a href='#' class="active" >New Entry</a>
</div>
<div> <!--<form>-->
  <div class="form-group">
    <label for="exampleFormControlInput1">Entry Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Entry Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <div><!--<form action="/journal/1">-->
      <input type="submit" value="Create"/>
    </div> <!--</form>-->    
  </div>
</div> <!--</form>-->