<form [formGroup]="createEntryForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleFormControlInput1">Entry Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="entryTitle">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Entry Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="entryContent"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Create"/>  
  </div>
</form>